.column {
    float: left;
    background-Color: darkslategray;
    height: 500pt;
    padding: 10px;
    width: 34%;
    color: white;
    /*box-shadow: 2px 2px 2px 2px red;*/
}

@media (max-width: 580px)
{
.wrapper {
    grid-template-areas: 
      'header header header header header header' 
      'column column column column column column' 
      'columntwo columntwo columntwo columntwo' ;
}
@media screen and (device-aspect-ratio: 40/71) 
{

}
}
.columntwo {
    float: left;
    background-color: darkslateblue;
    height:500pt;
    padding: 20px;
    width: 66%;
    color: white;
    min-height: 100%;
    text-align:center;
}

#aboutwords {
    position: relative;
    font-size: 16px;
    height:80%;
    width: 95%;
    overflow: auto;

}

#about-picture {
    float:left;
    width:32%;
    padding: 10px;
    height: 300px;

}
#pictureOne{
    width: 80%;
    margin: 40px;
    object-fit: cover;
    border-radius: 2em;
    left: 20px;
    /*box-shadow: 2px 2px 2px 2px red;*/
}
