#portfolio {
    background-color: rgb(71, 99, 98);
    height: 40em;
    width: 100vw;
    /*box-shadow: 2px 2px 2px 2px yellow;*/ 
}
/* .pictures img {
    padding: 25px;
    margin: 25px;
    top: 150px;
    float: left;
    width: 20%; 
    background-position: 50% 50%;
    border-radius: 2em;
    background-repeat:   no-repeat;
    object-fit: cover;
} */
.divpics img{
    width: 20%;
    padding: 3px;
    float:left;
    margin: 25px;
    object-fit: cover;
    
}
.divpics:hover {
    opacity: 0.8;
}
#projhead {
    text-align: center;
    padding: 40px;
}



